<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Yasin Yakup</h2>
            <h4>yasinyakup@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="dog">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Reports</h2>
   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employees">
        <mat-icon>people</mat-icon>
        Employees</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
        <mat-icon>menu_book</mat-icon>
        Trainings</a>
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Data Entry</h2>
   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addemployee">
        <mat-icon>person_add</mat-icon>
        Add Employee
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addtraining">
        <mat-icon>library_add</mat-icon>
        Add Training
    </a>

</mat-nav-list>


