<h1>Training Record</h1>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. first user" (keyup)="applyFilter($event)">
</mat-form-field>

<div>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>
        <ng-container  matColumnDef="empNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TC/EMP Code</th>
            <td mat-cell *matCellDef="let row">{{ row.empNo }}</td>
        </ng-container>
        <ng-container  matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
        </ng-container>
        <ng-container  matColumnDef="trainingNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Training No</th>
            <td mat-cell *matCellDef="let row">{{ row.trainingNo }}</td>
        </ng-container>
        <ng-container  matColumnDef="trainingName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Name</th>
            <td mat-cell *matCellDef="let row">{{ row.trainingName }}</td>
        </ng-container>
        <ng-container  matColumnDef="hour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Hours</th>
            <td mat-cell *matCellDef="let row">{{ row.hour }}</td>
        </ng-container>
       
       

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [length]="users.length"
    [pageSize]="5"
    [pageSizeOptions]="[ 5, 10, 25, 100]">
  </mat-paginator>
  

</div>
